html{
    font-family: Montserrat;
}
/* 1. Navbar */
nav .container{
    border-bottom: 2px solid #007189;
}
nav{
    position: relative;
}

nav .container button{
    border: none;
    background-color: transparent;
}
nav .container .offcanvas .offcanvas-body p a{
    text-decoration: none;
    font-family: Montserrat,sans-serif;
    color: #007189;
    font-weight: bold;
    font-size: 2.2vh;
}

/* Logo for Navbar and Footer */
nav .container a.navbar-brand, footer .container a.navbar-brand, .copyright .modal h1{
    font-family: Montserrat;
    font-size: 5vh;
    font-weight: bold;
    color: #007189;
} 
nav .container a span, footer .container a span, .copyright .modal h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #007189;
}


/* Navbar Navigation Buttons */
nav .container nav.nav a{
    position: relative;
    font-family: Montserrat;
    font-weight: bold;
    padding-left: 4.82vh;
    font-size: 2.2vh;
    color: #007189;
    transition: 0.2s all ease-in-out 0s;
} 
nav .container nav.nav a.nav-link:hover{
    color: white;
}
nav .container nav.nav a.nav-link::before{
    content: "";
    position: absolute;
    top: 0;
    left: 2.3vh;
    right: unset;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: #007189;
    transition: 0.2s all ease-in-out 0s; 
}
nav .container nav.nav a.nav-link:hover::before{
    left: 2.3vh;
    width: 100%;
}
nav .container nav.nav a.nav-link:active{
    transition: 0s;
    color: rgb(230, 230, 230);
}
nav .container nav.nav .dropdown-menu a{
    font-weight: 300;
    font-family: Quicksand;
}
nav .container nav.nav .dropdown-menu a:hover{
    background-color: #007189;
    color: white;
}
nav .container nav.nav .dropdown-menu a:active{
    transition: 0s;
    color: rgb(230, 230, 230);
}
nav .container nav.nav .account, #account-nav{
    padding: 2vh;
}
nav .container nav.nav .account legend, #account-nav legend{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.2vh;
    color: #007189;
    margin-bottom: 0;
}
nav .container nav.nav .account input, #account-nav input{
    margin-bottom: 2vh;
    border: none;
    background-color: #eeeeee;
}
nav .container nav.nav .account input[type=text], #account-nav input[type=text]{
    width: 100%;
}
nav .container nav.nav .account input[type=password], #account-nav input[type=password]{
    width: 100%;
}
nav .container nav.nav .account input[type=button], #account-nav input[type=button]{
    font-family: Montserrat;
    font-size: 2vh;
    width: 10vh;
    height: 5vh;
    border: none;
    background-color: #007189;
    color: white;
    border-radius: 0.5vh;
}
nav .container nav.nav .account input[type=button]:hover{
    background-color: #039bbd;
}
nav .container nav.nav .account input[type=button]:active{
    color: rgb(230, 230, 230);
}

/* Collapse Navbar */
#search input[type=text], #searchnav input{
    height: 5vh;
    width: 100%;
    border: none;
    background-color: #eeeeee;
}
#search input[type=button], #searchnav input[type=button]{
    font-family: Montserrat;
    font-size: 2vh;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #007189;
    color: white;
}
#search input[type=button]:hover{
    background-color: #039bbd;
}
#search input[type=button]:active{
    color: rgb(230, 230, 230);
}
#categories a, #brands a{
    font-family: Quicksand; 
    font-weight: 100; 
    font-size: 2.2vh; 
    color: #007189; 
    text-decoration: none;
}
/* News-Reviews Section */
section.news-reviews .container h1.header-title, section.videos .container h1.header-title{
    font-size: 6vh;
}
section.news-reviews .row1 h1{
    font-family: Montserrat;
    font-size: 3.5vh;
    font-weight: bold;
    color: #007189;
    margin-top: 5vh;
}
section.news-reviews .row1 a{
    font-family: Quicksand;
}
section.news-reviews .main-column{
    background-color: transparent;
    transition: transform 0.5s;
    z-index: 2;
}
section.news-reviews .article{
    background-color: transparent;
    transition: transform 0.5s;
    z-index: 1;
}
section.news-reviews .main-column .image{
    height: 67vh;
}
section.news-reviews .main-column .main-news-reviews img{
    height: 65vh;
    margin-top: 1vh;
}
section.news-reviews .main-column h5{
    font-size: 2.5vh;
    font-family: Quicksand;
    font-weight: bold;
}
section.news-reviews .main-column p{
    font-size: 1.7vh;
    font-family: Quicksand;
}
section.news-reviews .article .image{
    height: 25vh;
}
section.news-reviews .article .article-news-1 img{
    height: 23vh;
    margin-top: 1vh;
}
section.news-reviews .article .article-news-2 img{
    height: 23vh;
    margin-top: 1vh;
}
section.news-reviews .article .article-news-3 img{
    height: 23vh;
    margin-top: 1vh;
}
section.news-reviews .article .article-news-4 img{
    height: 23vh;
    margin-top: 1vh;
}
section.news-reviews .article .article-reviews-1 img{
    height: 23vh;
    margin-top: 1vh;
}
section.news-reviews .article .article-reviews-2 img{
    height: 23vh;
    margin-top: 1vh;
}
section.news-reviews .article .article-reviews-3 img{
    height: 23vh;
    margin-top: 1vh;
}
section.news-reviews .article .article-reviews-4 img{
    height: 23vh;
    margin-top: 1vh;
}
section.news-reviews .article h5{
    font-size: 2.5vh;
    font-family: Quicksand;
    font-weight: bold;
}
section.news-reviews .article p{
    font-size: 1.7vh;
    font-family: Quicksand;
}
section.news-reviews a, section.videos a{
    position: relative;
    font-family: Quicksand;
    font-size: 2.5vh; 
    text-decoration: none; 
    font-weight: 100;
    color: black;
    float: right; 
    padding: 1.5vh;
    transition: 0.4s all ease-in-out 0s;
}
section.news-reviews a:hover, section.videos a:hover{
    color: white;
}
section.news-reviews a::before, section.videos a::before{
    content: "";
    position: absolute;
    top: 0;
    left: unset;
    right: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: #007189;
    transition: 0.4s all ease-in-out 0s; 
}
section.news-reviews a:hover::before, section.videos a:hover::before{
    right: 0;
    width: 100%;
}
section.news-reviews a:active, section.videos a:active{
    transition: 0s;
    color: rgb(230, 230, 230)
}

section.videos .row1 h1{
    font-family: Montserrat;
    font-size: 3.5vh;
    font-weight: bold;
    color: #007189;
    margin-top: 5vh;
}
section.videos .row1 a{
    font-family: Quicksand;
}
section.videos .main-column{
    background-color: transparent;
    transition: transform 0.5s;
    z-index: 2;
}
section.videos .article{
    background-color: transparent;
    transition: transform 0.5s;
    z-index: 1;
}
section.videos .main-column .image{
    height: 67vh;
}
section.videos .main-column .image iframe{
    height: 100%;
    width: 100%;
}
section.videos .main-column h5{
    font-size: 2.5vh;
    font-family: Quicksand;
    font-weight: bold;
}
section.videos .main-column p{
    font-size: 1.7vh;
    font-family: Quicksand;
}
section.videos .article .image{
    height: 25vh;
}
section.videos .article .image iframe{
    height: 100%;
    width: 100%;
}
section.videos .article h5{
    font-size: 2.5vh;
    font-family: Quicksand;
    font-weight: bold;
}
section.videos .article p{
    font-size: 1.7vh;
    font-family: Quicksand;
}

footer .container-full{
    margin-top: 20vh;
    padding-top: 7vh;
    padding-bottom: 7vh;
    background-color: #CAE6FF;
}
footer .logo{
    font-size: 2vh;
    font-family: Quicksand;
}
footer .logo p.justify{
    text-align: justify;
}
footer  .opt-lang{
    border-right: 2px solid #aec4d6;
}
footer .opt-lang h1, .soc h1, .newsletter h1{
    font-family: Montserrat;
    font-size: 2.5vh;
    font-weight: bold;
    color: #007189;
    padding-bottom: 1.5vh;
}
footer .opt-lang li{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 2.5vh;
}
footer .opt-lang a{
    color: black;
    text-decoration: none;
}
footer .opt-lang a:hover{
    color:#007189;
}
footer .opt-lang a:active{
    color:rgb(230, 230, 230);
}
footer .soc img{
    transition: transform .1s;
}
footer .soc img:hover{
    transform: scale(1.2);
}
footer .newsletter input[type=text]{
    width: 65%;
    height: 5vh;
    border: none;
}
footer .newsletter input[type=button]{
    float: right;
    font-family: Montserrat;
    font-size: 2vh;
    width: 35%;
    height: 5vh;
    border: none;
    background-color: #007189;
    color: white;
    border-radius: 0.5vh;
}
footer .newsletter input[type=button]:hover{
    background-color: #039bbd;
}
footer .newsletter input[type=button]:active{
    color: rgb(230, 230, 230);
}
footer .copyright{
    background-color: #007189;
}
footer .copyright p{
    font-family: Quicksand;
    color: white;
    font-size: 1.7vh;
    font-weight:100;
}
footer .copyright p.legal{
    float: right;
}
footer .copyright a{
    color: white;
}
footer .copyright a:hover{
    color: black;
}
footer .copyright a:active{
    color: rgb(230, 230, 230);
}
footer .copyright h1{
    margin-bottom: 0;
}
footer .copyright input[type=button]{
    float: right;
    font-family: Montserrat;
    font-size: 2vh;
    width: 15%;
    height: 5vh;
    border: none;
    background-color: #007189;
    color: white;
    border-radius: 0.5vh;
}
footer .copyright input[type=button]:hover{
    background-color: #039bbd;
}
footer .copyright input[type=button]:active{
    color: rgb(230, 230, 230);
}

/* Article Page */

.directory p{
    font-family: Montserrat;
    font-size: 1.6vh;
    font-weight: lighter;
}
.directory p span{
    font-weight: 700;
}
.directory p a{
    text-decoration: none;
    color: #007189;
}
.directory p a:hover{
    color: #039bbd;
}
.directory p a:active{
    color: red;
}


section.article .image img{
    height: 98vh;
    margin-top: 1vh;
}
section.article .header h1{
    font-family: Montserrat ;
    font-size: 6vh;
    font-weight: bolder;
    color: #007189;
}
section.article .author p{
    font-family: Quicksand;
    font-size: 2vh;
}
section.article .content p{
    font-size: 2.5vh;
    line-height: 7vh;
}
section.article .share p{
    line-height: 7vh; 
    font-family: Quicksand; 
    font-weight: bolder;
    letter-spacing: 1vh;
    padding-top: 4vh;
}
section.article .share .sm img{
    height: 10vh;
}
section.article .share .sm a:hover{
    opacity:80% ;
}
section.article .share .sm a:active{
    opacity:90% ;
}

section.comment h1{
    font-family: Montserrat;
    font-size: 3.5vh;
    font-weight: bold;
    color: #007189;
}
section.comment textarea{
    border: 1px solid black;
    width: 100%;
    height: 17vh;
    resize: none;
    padding: 3vh;
}
section.comment input[type=button]{
    font-family: Montserrat;
    font-size: 2vh;
    width: 5%;
    height: 5vh;
    border: none;
    background-color: #007189;
    color: white;
    border-radius: 0.5vh;
}
section.comment input[type=button]:hover{
    background-color: #039bbd;
}
section.comment input[type=button]:active{
    color: rgb(230, 230, 230);
}
section.comment img{
    height: 7vh;
}
section.comment .profile{
    padding-top: 7vh;
}
section.comment p.profile-name{
    font-family: Quicksand;
    font-size: 2.5vh;
    font-weight: bold;
}
section.comment p.comments{
    font-family: Quicksand;
    font-size: 2vh;
    line-height: 3vh;
}
section.comment p span{
    font-weight: lighter;
    font-size: 2vh;
}

section.news-reviews .article-column .article .news-image{
    height: 27vh;
}
section.news-reviews .main-column .cat-brand{
    height: 27vh;
}
section.news-reviews .main-column .cat-brand img{
    height: 23vh;
    margin-top: 1vh;
}


@media screen and (max-width:575px){
    nav.nav{
        display: none;
    }
    nav .container{
        margin-left: 12px;
        margin-right: 12px;
        padding-left: 0;
        padding-right: 0;
    }
    nav .container a.navbar-brand, footer .container a.navbar-brand{
        font-size: 3vh;
        
    }
    nav .offcanvas{
        width: 75%;
    }
    
    /* nav .container button{
        display: inline;
        height: 30px;
        width: 30px;
        background-color: transparent;
        border: none;
        position: relative;
    }
    button input{
        display: none;
    }
    button label{
        width: 100%;
        height: 80%;
        position: absolute;
        left: 0;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    button label span{
        width: 80%;
        height: 4px;
        background-color: black;
        border-radius: 10px;
        transition: 0.5s ease;
    }
    button input:checked~label span:nth-child(1){
        transform: rotate(45deg) translate(5px,5px);
    }
    button input:checked~label span:nth-child(2){
        opacity: 0;
        width: 0;
    }
    button input:checked~label span:nth-child(3){
        transform: rotate(-45deg) translate(5px, -5px);
    } */
    section.news-reviews .container h1.header-title, section.videos .container h1.header-title{
        font-size: 4vh;
    }
    section.news-reviews .main-column .image{
        height: 40vh;
    }
    section.videos .main-column .image{
    height: 25vh;
    }
    section.news-reviews .row1 h1, section.videos .row1 h1{
        font-size: 2vh;
    }
    section.news-reviews .main-column h5, section.news-reviews .article h5, section.videos .main-column h5, section.videos .article h5{
        font-size: 2vh;
    }
    section.news-reviews .main-column p, section.news-reviews .article p, section.videos .main-column p, section.videos .article p{
        font-size: 1.4vh;
    }
    section.news-reviews a, section.videos a{
        font-size: 1.4vh; 
    }
    section.news-reviews .main-column .main-news-reviews img{
        height: 38vh;
    }
    section.news-reviews .article .article-news-1 img{
        height: 16vh;
    }
    section.news-reviews .article .article-news-2 img{
        height: 16vh;
    }
    section.news-reviews .article .article-news-3 img{
        height: 16vh;
    }
    section.news-reviews .article .article-news-4 img{
        height: 16vh;
    }
    section.news-reviews .article .article-reviews-1 img{
        height: 16vh;
    }
    section.news-reviews .article .article-reviews-2 img{
        height: 16vh;
    }
    section.news-reviews .article .article-reviews-3 img{
        height: 16vh;
    }
    section.news-reviews .article .article-reviews-4 img{
        height: 16vh;
    }
    section.news-reviews .main-column .cat-brand img{
        height: 25vh;
    }
    footer .logo p.justify{
        font-size: 1.7vh; 
    }
    footer .opt-lang h1, footer .soc h1, footer .soc h1, footer .newsletter h1, footer .opt-lang li{
        font-size: 2vh; 
    }
    footer .newsletter input[type=text], footer .newsletter input[type=button]{
        height: 4vh;
        font-size: 1.7vh;
    }
    footer .copyright p{
        font-size: 1vh;
    }
    footer .copyright .row{
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
    }

    /* Article Page */

    .directory p{
        font-size: 1vh;
    }
    section.article .image img{
        height: 40vh;
    }
    section.article .header h1{
        font-size: 3vh;
        line-height: 4.5vh;
    }
    section.article .author p{
        font-size: 1.5vh;
    }
    section.article .content p{
        line-height: 5vh;
        font-size: 2vh;
    }
    section.article .share p{
        margin-bottom: 0;
        font-size: 2vh;
    }
    section.article .share .sm img{
        height: 5vh;
    }
    section.comment{
        padding-top: 20vh;
    }
    section.comment input[type=button]{
        width: 9vh;
    }
    section.comment p.profile-name{
        font-size: 1.7vh;
    }
    section.comment p.comments{
        font-size: 1.3vh;
        line-height: 2vh;
    }
    section.comment p span{
        font-size: 1.3vh;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    nav.nav{
        display: none;
    }
    
    nav .offcanvas{
        width: 40%;
    }
    /* nav .container button{
        display: inline;
        height: 30px;
        width: 30px;
        background-color: transparent;
        border: none;
        position: relative;
    }
    button input{
        display: none;
    }
    button label{
        width: 100%;
        height: 80%;
        position: absolute;
        left: 0;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    button label span{
        width: 80%;
        height: 4px;
        background-color: black;
        border-radius: 10px;
        transition: 0.5s ease;
    }
    button input:checked~label span:nth-child(1){
        transform: rotate(45deg) translate(5px,5px);
    }
    button input:checked~label span:nth-child(2){
        opacity: 0;
        width: 0;
    }
    button input:checked~label span:nth-child(3){
        transform: rotate(-45deg) translate(5px, -5px);
    } */
    section.news-reviews .container h1.header-title, section.videos .container h1.header-title{
        font-size: 5vh;
    }
    section.news-reviews .main-column .image{
        height: 60vh;
    }
    section.videos .main-column .image{
        height: 60vh;
    }
    section.videos .article .image{
        height: 60vh;
    }
    section.news-reviews .row1 h1, section.videos .row1 h1{
        font-size: 4vh;
    }
    section.news-reviews .main-column h5, section.news-reviews .article h5, section.videos .main-column h5, section.videos .article h5{
        font-size: 3vh;
    }
    section.news-reviews .main-column p, section.news-reviews .article p, section.videos .main-column p, section.videos .article p{
        font-size: 2vh;
    }
    section.news-reviews a, section.videos a{
        font-size: 1.7vh; 
    }
    section.news-reviews .main-column .main-news-reviews img{
        height: 55vh;
    }
    section.news-reviews .article .article-news-1 img{
        height: 22vh;
        margin-top: 1.5vh;
    }
    section.news-reviews .article .article-news-2 img{
        height: 22vh;
        margin-top: 1.5vh;
    }
    section.news-reviews .article .article-news-3 img{
        height: 22vh;
        margin-top: 1.5vh;
    }
    section.news-reviews .article .article-news-4 img{
        height: 22vh;
        margin-top: 1.5vh;
    }
    section.news-reviews .article .article-reviews-1 img{
        height: 22vh;
        margin-top: 1.5vh;
    }
    section.news-reviews .article .article-reviews-2 img{
        height: 22vh;
        margin-top: 1.5vh;
    }
    section.news-reviews .article .article-reviews-3 img{
        height: 22vh;
        margin-top: 1.5vh;
    }
    section.news-reviews .article .article-reviews-4 img{
        height: 22vh;
        margin-top: 1.5vh;
    }
    section.news-reviews .main-column .cat-brand img{
        height: 25vh;
    }
    footer .logo p.justify{
        font-size: 2.5vh; 
    }
    footer  .soc{
        border-right: 2px solid #aec4d6;
    }
    footer .opt-lang h1, footer .soc h1, footer .soc h1, footer .newsletter h1, footer .opt-lang li{
        font-size: 3vh; 
    }
    footer .newsletter input[type=text], footer .newsletter input[type=button]{
        height: 4vh;
        font-size: 2vh;
    }
    footer .newsletter input[type=text]{
        font-size: 2vh;
        width:65%;
        height: 5vh;
        margin-top: 0;
    }
    footer .newsletter input[type=button]{
        float: right;
        margin-top: 1.7vh;
        font-size: 2vh;
        width: 35%;
        height: 5vh;
        
    }
    footer .copyright p{
        font-size: 1.3vh;
    }
    footer .copyright .row{
        padding-top: 1.7vh;
        padding-bottom: 1.7vh;
    }
    
    /* Article Page */

    .directory p{
        font-size: 1.2vh;
    }
    section.article .image img{
        height: 75vh;
    }
    section.article .header h1{
        font-size: 5vh;
        line-height: 7vh;
    }
    section.article .author p{
        font-size: 2vh;
    }
    section.article .content p{
        padding-top: 2vh;
        line-height: 8vh;
        font-size: 3vh;
    }
    section.article .share p{
        margin-bottom: 0;
        font-size: 3vh;
    }
    section.article .share .sm img{
        height: 5vh;
    }
    section.comment{
        padding-top: 20vh;
    }
    section.comment input[type=button]{
        width: 12vh;
        font-size: 2vh;
    }
    
}
@media screen and (min-width:768px) and (max-width:991px){
    nav.nav{
        display: none;
    }
    nav .offcanvas{
        width: 50%;
    }
    /* nav .container button{
        display: inline;
        height: 30px;
        width: 30px;
        background-color: transparent;
        border: none;
        position: relative;
    }
    button input{
        display: none;
    }
    button label{
        width: 100%;
        height: 80%;
        position: absolute;
        left: 0;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    button label span{
        width: 80%;
        height: 4px;
        background-color: black;
        border-radius: 10px;
        transition: 0.5s ease;
    }
    button input:checked~label span:nth-child(1){
        transform: rotate(45deg) translate(5px,5px);
    }
    button input:checked~label span:nth-child(2){
        opacity: 0;
        width: 0;
    }
    button input:checked~label span:nth-child(3){
        transform: rotate(-45deg) translate(5px, -5px);
    } */
    section.news-reviews .container h1.header-title, section.videos .container h1.header-title{
        font-size: 5vh;
    }
    section.news-reviews .main-column .image{
        height: 40vh;
    }
    section.videos .main-column .image{
        height: 25vh;
    }
    section.news-reviews .row1 h1, section.videos .row1 h1{
        font-size: 3.5vh;
    }
    section.news-reviews a, section.videos a{
        font-size: 2.3vh;
    }
    section.news-reviews .main-column h5, section.news-reviews .article h5, section.videos .main-column h5, section.videos .article h5{
        font-size: 3vh;
    }
    section.news-reviews .main-column p, section.news-reviews .article p, section.videos .main-column p, section.videos .article p{
        font-size: 2.5vh;
    }
    section.news-reviews a, section.videos a{
        font-size: 1.7vh; 
    }
    section.news-reviews .main-column .main-news-reviews img{
        height: 38vh;
    }
    section.news-reviews .article .article-news-1 img{
        width: 35vw;
        height: 17vh;
    }
    section.news-reviews .article .article-news-2 img{
        width: 35vw;
        height: 17vh;
    }
    section.news-reviews .article .article-news-3 img{
        width: 35vw;
        height: 17vh;
    }
    section.news-reviews .article .article-news-4 img{
        width: 35vw;
        height: 17vh;
    }
    section.news-reviews .article .article-reviews-1 img{
        width: 35vw;
        height: 17vh;
    }
    section.news-reviews .article .article-reviews-2 img{
        width: 35vw;
        height: 17vh;
    }
    section.news-reviews .article .article-reviews-3 img{
        width: 35vw;
        height: 17vh;
    }
    section.news-reviews .article .article-reviews-4 img{
        width: 35vw;
        height: 17vh;
    }
    section.news-reviews .main-column .cat-brand img{
        height: 25vh;
    }
    footer .logo p.justify{
        font-size: 2vh; 
    }
    footer .opt-lang h1, footer .soc h1, footer .soc h1, footer .newsletter h1, footer .opt-lang li{
        font-size: 2.3vh; 
    }
    footer .newsletter input[type=text], footer .newsletter input[type=button]{
        height: 4vh;
        font-size: 2vh;
    }
    footer .copyright p{
        font-size: 1.3vh;
    }
    footer .copyright .row{
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    
    /* Article Page */

    .directory p{
        font-size: 1.2vh;
    }
    section.article .image img{
        height: 55vh;
    }
    section.article .header h1{
        font-size: 4vh;
        line-height: 4.5vh;
    }
    section.article .author p{
        font-size: 1.5vh;
    }
    section.article .content p{
        padding-top: 2vh;
        line-height: 6vh;
        font-size: 2.3vh;
    }
    section.article .share p{
        margin-bottom: 0;
    }
    section.article .share .sm img{
        height: 5vh;
    }
    section.comment{
        padding-top: 10vh;
    }
    section.comment input[type=button]{
        width: 9vh;
    }
    section.comment p.profile-name{
        font-size: 2.2vh;
    }
    section.comment p.comments{
        font-size: 1.7vh;
        line-height: 2.5vh;
    }
    section.comment p span{
        font-size: 1.3vh;
    }
}

@media screen and (min-width:992px) and (max-width:1199px){
    nav.nav{
        display: none;
    }
    nav .offcanvas{
        width: 50%;
    }
    section.news-reviews .main-column, section.videos .main-column{
        height: 84vh;
    }
    section.news-reviews .main-column, .cat-brand{
        height: 50vh;
    }
    section.news-reviews .article .image{
        height: 25vh;
    }
    section.news-reviews .main-column .main-news-reviews img{
        margin-top: 4.5vh;
        height: 57vh;
    }
    section.news-reviews .article .article-news-1 img{
        height: 17vh;
    }
    section.news-reviews .article .article-news-2 img{
        height: 17vh;
    }
    section.news-reviews .article .article-news-3 img{
        height: 17vh;
    }
    section.news-reviews .article .article-news-4 img{
        height: 17vh;
    }
    section.news-reviews .article .article-reviews-1 img{
        height: 17vh;
    }
    section.news-reviews .article .article-reviews-2 img{
        height: 17vh;
    }
    section.news-reviews .article .article-reviews-3 img{
        height: 17vh;
    }
    section.news-reviews .article .article-reviews-4 img{
        height: 17vh;
    }
    section.news-reviews .main-column .cat-brand img{
        height: 25vh;
    }
    footer .copyright .row{
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
    }
    footer .logo p.justify{
        font-size: 1.7vh; 
    }
    footer .opt-lang h1, footer .soc h1, footer .soc h1, footer .newsletter h1, footer .opt-lang li{
        font-size: 2.3vh; 
    }
    footer .newsletter input[type=text], footer .newsletter input[type=button]{
        height: 4vh;
        font-size: 2vh;
    }
    footer .newsletter input[type=button]{
        font-size: 1.5vh;
    }
    
     /* Article Page */

    section.article{
        height: 360vh;
    }
    section.article .image img{
        height: 100vh;
    }
    section.article .header h1{
        font-size: 4vh;
        line-height: 4.5vh;
    }
    section.article .author p{
        font-size: 2vh;
    }
    section.article .content p{
        padding-top: 2vh;
        font-size: 2.3vh;
    }
    section.article .share{
        padding-left: 20vh;
    } 
    section.article .share p{
        line-height: 4.5vh;
    }
    section.article .share .sm img{
        height: 5vh;
    }
    section.comment{
        padding-top: 60vh;
    }
    section.comment input[type=button]{
        width: 9vh;
    }
    section.comment p.profile-name{
        font-size: 2.2vh;
    }
    section.comment p.comments{
        font-size: 1.7vh;
        line-height: 2.5vh;
    }
    section.comment p span{
        font-size: 1.3vh;
    }
    .directory p{
        font-size: 1.5vh;
    }
}

@media screen and (min-width:1200px){
    nav .container button{
        display: none;
    }
    section.news-reviews .main-column:hover{
        transform: scale(1.05);
    }
    section.news-reviews .article:hover{
        transform: scale(1.05);
    }
    footer .logo , .soc{
        border-right: 2px solid #aec4d6;
    }
    footer .copyright .row{
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

     /* Article Page */
    
    section.article{
        height: 360vh;
    }
    section.article .image{
        height: 100vh;
    }
    section.article .share{
        padding-left: 20vh;
    } 
    section.article .content p{
        padding-top: 4vh; 
    }
    section.comment{
        height: 130vh;
    }
}